<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY' ) + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
    <br />
    Total <span id="busuanzi_value_site_pv"></span> views.
    您是pineapple-man的第<span id="busuanzi_value_site_uv"></span>个小伙伴
</footer>
